body {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #333;
}

h1, h2 {
  font-size: 2em;
}

p {
  font-family: georgia, 'times New Roman', serif;
  font-style: italic;
  color: #999;
  margin-bottom: 2em;
}

#friends-with-birthday {
  min-height: 200px;
}

#friends-with-birthday textarea {
  height: 120px;
  margin: 2em 0;
  resize: none;
  width: 320px;
}

#friends-with-birthday input {
  margin: 1em;
}

#friends-with-birthday ul {
  float: left;
  width: 100%;
}

#friends-with-birthday li {
  border: 1px solid #ccc;
  float: left;
  margin: 5px;
  padding: 8px 0 2px;
  width: 67px;
}

#friends-with-birthday .remove {
  color: #3366CC;
  font-size: 0.7em;
}

#friends-with-birthday .remove:hover {
  text-decoration: underline;
}
