<div id='fb-root'></div>
<div id="login-button">
  <h2>Happy Birthday App</h2>
  <p> Say happy birthday to all your friends, fast!</p>
  <fb:login-button perms="friends_birthday, publish_stream">Login with Facebook</fb:login-button>
</div>


<div id='friends-with-birthday'>
  <h2>Friends With Birthdays</h2>
  <form>
    <ul></ul>
    <input type="submit" value="Say it!" />
  </form>
</div>
