<div id='fb-root'></div>
<div id="login-button">
  <h1>Happy Birthday App</h1>
  <p> Say happy birthday to all your friends, fast!</p>
  <fb:login-button perms="friends_birthday, publish_stream" id="login">Login with Facebook</fb:login-button>
</div>


<div id='friends-with-birthday'>
  <h2>Friends With Birthdays</h2>
  <textarea rows="2" cols="20" name="birthday_wish_default" id="birthday-wish"> Happy Birthday :)</textarea>
  <form>
    <ul></ul>
    <input type="submit" value="Say it!" />
  </form>
</div>
