<!DOCTYPE html>
<html>
<head>
  <title>Happy Birthday</title>
  <%= stylesheet_link_tag :all %>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
