<!DOCTYPE html>
<html>
<head>
  <title>Happy Birthday</title>
  <%= stylesheet_link_tag :all %>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "jquery-1.6.1.min", "facebook" %>

</body>
</html>
